.avatar-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

.avatar-circle {
  width: 120px;
  height: 120px;
  background-color: #d8d8d8;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar-icon {
  font-size: 70px;
  color: black;
}

.avatar-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.button-custom {
  background: #02d359;
  color: black;
  border-radius: 5px;
}